.layout {
  .logo {
    background: url("../assets/icons/icon-512x512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ant-layout-header {
    background: #fff;
    line-height: 62px;
  }
}

