// COLORS
$primary-color:#202F84;
$warning-color:#D0BA72;
$success-color:#83BF85;
$secondary-color:#FFB34B;
$danger-color:#C44641;
$text-color:#544837;
$title-color:#7C7C7C;
$second-title-color:#2F281E;
$light:#FFFFFF;
$grey:#F6F6F6;

// FONTS
$font-style:Almarai;