.Text-chat {
  width: 100%;
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  margin-bottom: 10%;
  .Table {
    width: 25%;
    margin-top: 3%;
    .button-blue {
      
      margin-bottom: 20px;
      font-size: 16px;
      width: 100%;
      color: #fff;
      font-weight: bold;
      border: 1px solid #7d86b6;
      border-radius: 4px;
      height: 46px;
      background-color: #202f84;
      &:hover {
        color: #202f84;
        border: 1px solid #202f84 ;
        border-radius: 4px;
        background-color: #fff;
      }
    }
    .Connexion {
      font-size: 16px;
      width: 100%;
      color: #202f84;
      font-weight: bold;
      border: 1px solid #202f84;
      border-radius: 4px;
      height: 46px;
      background-color: #fff;
      &:hover {
        color: #fff;
        border: 1px solid #202f84;
        border-radius: 4px;
        background-color: #202f84;
      }
    }

    table {
      border: 1px solid rgb(179, 178, 178);
      width: 100%;
margin-bottom: 50px;

      tbody {
        border: 1px solid rgb(179, 178, 178);
        
        line-height: 2;
        

   tr {
    th {
        color: gray;
        font-size: 16px;
        font-weight: 700;
        padding: 0.5em;
      }
      td {
        color: #202f84;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
      }
   }
      }
      tr {
        .consultant {
          display: flex;
          padding-left: 50px !important ;
          img {
            padding-right: 0.5em;
          }
          div {
              padding-right: 0.5em ;
            th {
              color: gray;
              font-size: 16px;
              font-weight: 700;
              
            }
            tr {
              color: #202f84;
              font-weight: bold;
              font-size: 16px;
            
            }
          }
        }
      }
    }
  }
  .chat {
    width: 75%;
    img {
      width: 75%;
    }
  }
}
